python-dotenv==1.0.1
Django==5.2.15
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework-camel-case==1.4.2
Pillow==12.1.1
psycopg2-binary==2.9.10